* {
    margin: 0;
    padding: 0;
    /*outline: lime solid 1px;*/
}

body {
    height: 100svh;
    background-color: rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(62, 94, 124);
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 1rem;
    width: 100svw;
}
main {

    background-color: rgb(128, 204, 248);
    border-radius: 5rem;
    height: 700px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 1rem;
}
footer {
    background-color: rgb(62, 94, 124);
    color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-weight: 600;
    padding: 1rem;
    width: 100svw;
}
h1 {
    text-align: center;
    margin: 0;
}
.middle-container {
    display: flex;
    margin: 0 1rem;
    padding: 0;
    gap:.5rem;
    align-items: center;
    justify-content: center;
    width: 700px;
    box-sizing: border-box;
}
.dot-container {
    display: flex;
    gap: 1rem;
}
.dots {
    height: 2rem;
    width: 2rem;
}
.arrow {
    height: 3rem;
    width: 3rem;
}
.frame {
    box-sizing: border-box;
    height: 512px;
    width: 512px;
}
.side-image {
    opacity: .5;
    overflow: hidden;
}
.last {
    display: flex;
    justify-content: end;
}
.frame-image {
    border: rgb(240, 164, 0) outset .6rem;

    border-radius: 25px;
    box-sizing: content-box;
}
#frame {
    display: flex;
}
#next-frame {
    display: flex;
}